# Dependencies
node_modules/
**/node_modules/

# Next.js build output
.next/
**/ .next/
client/.next/
dist/
**/dist/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# Logs & Local Env
*.log
.env*.local
.env

# Other
server/public
vite.config.ts.*
*.tar.gz